.card {
  list-style: none;
  padding: 40px;
  color: #222;
  text-align: center;
  border-radius: 20px;
  position: relative;
  perspective: 1000px;
  max-width: 400px;
  box-sizing: border-box;
}

.card-inner {
  position: relative;
  width: 100%;
	height: 100%;
	min-height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	position: absolute;
}

.card-back {
  transform: rotateY(180deg);
  font-family: rubik;
}

.card-front::after {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0.7;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0);
}

.steel {
  background-color: #f4f4f4;
}

.fire {
  background-color: #fddfdf;
}

.grass {
  background-color: #defde0;
}

.electric {
  background-color: #fcf7de;
}

.water,
.ice {
  background-color: #def3fd;
}

.ground {
  background-color: #f4e7da;
}

.rock {
  background-color: #d5d5d4;
}

.fairy {
  background-color: #fceaff;
}

.poison {
  background-color: #98d7a5;
}

.bug {
  background-color: #f8d5a3;
}

.dragon {
  background-color: #97b3e6;
}

.psychic {
  background-color: #eaeda1;
}

.flying {
  background-color: #f5f5f5;
}

.ghost {
  background-color: #cfb6cb;
}

.fighting {
  background-color: #e6e0d4;
}

.normal {
  background-color: #f5f5f5;
}

.card-title {
	font-family: 'Poke Solid';
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: normal;
  position: relative;
	z-index: 2;
}

.card-subtitle {
  margin-top: 5px;
  color: #666;
  font-weight: lighter;
  position: relative;
	z-index: 2;
	font-family: rubik;
}

.card-image {
  height: auto;
  position: relative;
  z-index: 2;
  margin-top: 25px;
}

.card-abilities,
.card-height,
.card-stats {
  text-align: left;
  color: #666;
  padding: 0;
}

.card-stats {
  list-style: none;
}

