.container {
	padding: 40px;
	margin: 0 auto;
}

#searchInput {
	position: relative;
	display: flex;
	margin: 0 auto 20px;
	width: 320px;
	border-radius: 20px;
	border: none;
	padding: 20px;
	text-align: center;
	background: #f3f3f3;
	color: #666;
	font-family: rubik;
}

#searchInput:focus {
	outline: none;
}

h1 {
	text-align: center;
	font-size: 54px;
	margin: 0;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}


@media only screen and (max-width: 480px) {
	.container {
		padding: 0 20px 20px;
		margin: 0 auto;
	}

	h1 {
		line-height: 2;
	}

	#searchInput {
		width: 240px;
	}

	.pokedex {
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	}
}

@media only screen and (min-width: 481px) and (max-width: 700px) {
	.container {
		padding: 20px;
		margin: 0 auto;
	}

	h1 {
		line-height: 2;
	}

	.pokedex {
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		max-width: 320px;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 701px) and (max-width: 1260px) {
	.container {
		padding: 40px;
		margin: 0 auto;
	}

	.pokedex {
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	}
}
